.dataset-container{
    .title-text-bg{
        background: $blue-dark;
        // padding: 10px 10px;
        @include padding(10px, 10px, 10px, 10px);
    }
    .dataset-table{
        max-height: 78vh;
        .table{
            th{
                // padding: 10px 10px;
                @include padding(10px, 10px, 10px, 10px);
                vertical-align: middle;
                font-size: 14px;
                background: $blue-dark;
                color: $white;
            }
            tbody{
                td{
                    // padding: 5px 10px;
                    @include padding(5px, 10px, 5px, 10px);
                    vertical-align: middle;
                    font-size: 14px;
                }
            }
        }
        .slide-icons{
            position: relative;
            .p-button{
              display: none;
            }
            &:hover{
              .p-button{
                position: absolute;
                left: 30px;
                top: 0;
                display: block;
                padding: 2px;
         
              }
            }
          }
    }
    
}
.box-shadow{
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
.p-dropdown{
    width: 100%;
}