<div class="dataset-container py-2">
  <div class="row m-0">
    <div class="col-md-6 col-12 pr-0">
      <div class="border ">
        <h5 class="m-0 AvenirLTStd-Heavy title-text-bg text-white">Interface Dataset List</h5>
        <div class="table-responsive my-3 dataset-table px-2">
          <table class="table mb-0 border-right border-left box-shadow ">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th>Active</th>
              </tr>
            </thead>
            <tbody class="">
              <tr class="border-bottom" *ngFor="let item of datasetlist">
                <td class="border-right">
                  <div class="slide-icons">
                    <span class="material-icons pointer" (click)="openDialog(item)" title="click to open dailog">
                      more_vert
                    </span>
                    <button pButton pRipple  class="p-mr-2 p-button" (click)="editForm(item.id)" icon="pi pi-user-edit" ></button>
                  </div>
                </td>
                <td class="border-right">{{item.name}}</td>
                <td class="border-right">{{item.description}}</td>
                <td>{{item.active==1?"Yes":"No"}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12 ">
      <div class="border">
        <h5 class="m-0 AvenirLTStd-Heavy title-text-bg text-white">{{datasetForm.value.id==0?'Create':'Edit'}} Interface Dataset - HHA NJ</h5>
        <div class="form-group mt-4">
          <form [formGroup]="datasetForm" class=" row m-0">
            <div class="p-field col-12 col-md-6 mb-4">
              <span class="p-float-label">
                <input type="text" id="inputtext" formControlName="name" pInputText
                  class="p-inputtext p-component w-100 ">
                <label for="inputtext">Name<span class="text-danger"> *</span></label>
              </span>
            </div>
            <div class="p-field col-12 col-md-6 mb-4">
              <span class="p-float-label">
                <input type="text" id="inputtext" formControlName="effectiveFrom" bsDatepicker pInputText
                  class="p-inputtext p-component w-100">
                <label for="inputtext">Effective From<span class="text-danger">*</span></label>
              </span>
            </div>
            <div class="p-field col-12 col-md-6 mb-4">
              <span class="p-float-label">
                <p-dropdown inputId="dropdown" class="w-100" optionValue="value" formControlName="exporteddTable"
                  [autoDisplayFirst]="false" [showClear]="true" [options]="exportedTableLookupArray" optionLabel="name">
                </p-dropdown>
                <label for="dropdown">Exported Table <span class="text-danger">*</span></label>
              </span>
            </div>
            <div class="p-field col-12 col-md-6 mb-4">
              <span class="p-float-label">
                <p-dropdown inputId="dropdown" class="w-100" optionValue="id" formControlName="dataFlow"
                  [autoDisplayFirst]="false" [showClear]="true" [options]="dataFlowLookupArray" optionLabel="name">
                </p-dropdown>
                <label for="dropdown">Data Flow <span class="text-danger">*</span></label>
              </span>
            </div>
            <div class="p-field col-12 col-md-6 mb-4">
              <span class="p-float-label">
                <p-dropdown inputId="dropdown" class="w-100" formControlName="dataMedium" optionValue="id"
                  [autoDisplayFirst]="false" [showClear]="true" [options]="dataMediumLookUpArray" optionLabel="name">
                </p-dropdown>
                <label for="dropdown">Data Medium <span class="text-danger">*</span></label>
              </span>
            </div>
            <div class="p-field col-12 col-md-6 mb-4">
              <span class="p-float-label">
                <p-dropdown inputId="dropdown" class="w-100" formControlName="dataFileFormat" optionValue="id"
                  [autoDisplayFirst]="false" [showClear]="true" [options]="dataFileFormatLookupArray"
                  optionLabel="name"></p-dropdown>
                <label for="dropdown">Data File Format <span class="text-danger">*</span></label>
              </span>
            </div>
            <div class="col-12 mb-4">
              <span class="p-float-label">
                <textarea inputId="textarea" class="w-100" formControlName="description" rows="3" cols="30"
                  pInputTextarea></textarea>
                <label for="textarea">Description</label>
              </span>
            </div>
            <div class="col-12">
              <button pButton pRipple [label]="datasetForm.value.id==0?'Create':'Save'" class="p-mr-2" (click)="save()" icon="pi pi-save"></button>
              <button pButton pRipple label="Cancel" (click)="createForm()" icon="pi pi-times"
                class="p-button-danger"></button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>



<button type="button" class="btn btn-primary mx-3" (click)="openModal(template)">modal</button>
 
<ng-template #template>
  <div class="modal-body">
    <div class="border">
      <h5 class="m-0 AvenirLTStd-Heavy title-text-bg text-white">Sample Popup</h5>

      <p class="p-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum placeat, veritatis similique error distinctio
        consectetur repellendus expedita quibusdam repellat assumenda dolor asperiores nostrum. Natus, veniam ipsam
        beatae assumenda laudantium reprehenderit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
        velit maiores quae aperiam vero sunt at nobis consequuntur porro incidunt, consectetur ab quia est, blanditiis
        inventore. Velit quas quidem non.
      </p>
    </div>
    <div class="mt-3">
      <button type="button" class="btn btn-primary justify-content-between" (click)="modalRef.hide()">Close</button>
    </div>
  </div>
</ng-template>
