<div class="border">
    <h5 class="m-0 AvenirLTStd-Heavy title-text-bg text-white">Create Interface Dataset - HHA NJ</h5>
    <div class="form-group mt-4">
      <form [formGroup]="datasetForm" class=" row m-0">
          <div class="p-field col-12 col-md-6 mb-4">
              <span class="p-float-label">
                  <input type="text" id="inputtext" formControlName="name" pInputText class="p-inputtext p-component w-100 " >
                  <label for="inputtext">Name<span class="text-danger"> *</span></label>
              </span>
          </div>
          <div class="p-field col-12 col-md-6 mb-4">
            <span class="p-float-label">
                <input type="text" id="inputtext" formControlName="effectiveFrom" bsDatepicker pInputText class="p-inputtext p-component w-100">
                <label for="inputtext">Effective From<span class="text-danger">*</span></label>
            </span>
        </div>
        <div class="p-field col-12 col-md-6 mb-4">
          <span class="p-float-label">
            <p-dropdown inputId="dropdown" class="w-100" optionValue="value" formControlName="exporteddTable" [autoDisplayFirst]="false" [showClear]="true" [options]="exportedTableLookupArray" optionLabel="name"></p-dropdown>
            <label for="dropdown">Exported Table <span class="text-danger">*</span></label>
        </span>
        </div>
        <div class="p-field col-12 col-md-6 mb-4">
          <span class="p-float-label">
            <p-dropdown inputId="dropdown" class="w-100" optionValue="id" formControlName="dataFlow"  [autoDisplayFirst]="false" [showClear]="true"  [options]="dataFlowLookupArray" optionLabel="name"></p-dropdown>
            <label for="dropdown">Data Flow <span class="text-danger">*</span></label>
        </span>
        </div>
        <div class="p-field col-12 col-md-6 mb-4">
          <span class="p-float-label">
            <p-dropdown inputId="dropdown" class="w-100" formControlName="dataMedium"  optionValue="id"  [autoDisplayFirst]="false" [showClear]="true" [options]="dataMediumLookUpArray" optionLabel="name"></p-dropdown>
            <label for="dropdown">Data Medium <span class="text-danger">*</span></label>
        </span>
        </div>
        <div class="p-field col-12 col-md-6 mb-4">
          <span class="p-float-label">
            <p-dropdown inputId="dropdown" class="w-100" formControlName="dataFileFormat"  optionValue="id"  [autoDisplayFirst]="false" [showClear]="true" [options]="dataFileFormatLookupArray" optionLabel="name"></p-dropdown>
            <label for="dropdown">Data File Format <span class="text-danger">*</span></label>
        </span>
        </div>
        <div class="col-12 mb-4">
          <span class="p-float-label">
            <textarea inputId="textarea" class="w-100" formControlName="description" rows="3" cols="30" pInputTextarea></textarea>
            <label for="textarea">Description</label>
        </span>
        </div>
        <div class="col-12">
          <button pButton pRipple label="Create" class="p-mr-2" (click)="save()" icon="pi pi-save"></button>
          <button pButton pRipple label="Cancel" (click)="createForm()" icon="pi pi-times" class="p-button-danger"></button>
        </div>
      </form>
    </div>
  </div>
  <!-- {{formValues.id}} -->
 