<!-- <p>login works!</p> -->
<div class="d-flex align-items-center h-100">
    <div class="bg-image w-50 h-100">
      <img src="assets/images/download.jpg" class="w-100 h-100">
    </div>

    <div class="w-50 ">
      <p-card [style]="{width: '360px',margin :'0 auto'}" styleClass="p-card-shadow"> <span class="mb-5 text-primary">Login Form</span>
        <form [formGroup]="loginform" (ngSubmit)="onSubmit()" class=" ">
          <div class="form-group mb-2">
            <input type="text" class="form-control" placeholder="Email" formControlName="email" required [class.is-invalid]="loginValid.email.invalid && loginValid.email.touched">
         <div class="" >
          <small class="text-danger" *ngIf="loginValid.email.errors?.required && formError"> Email required</small>

           <small class="text-danger" *ngIf="loginValid.email.errors?.email && formError">Invalid email</small>
         </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Password" formControlName="password" [class.is-invalid]="loginValid.password.invalid && loginValid.password.touched">
            <div class="">
              <small class="text-danger" *ngIf="loginValid.password.errors?.required && formError">Enter Passsword</small>
              <small class="text-danger" *ngIf="loginValid.password.errors?.email && formError">Invalid Email</small>

            </div>
          </div>
          <div class="sizes mt-2">
            <p-button label="Submit" icon="pi pi-check" styleClass="p-button-sm" type="submit"></p-button>
          </div>

        </form>

      </p-card>

    </div>

  </div>
